section {
  position: absolute;
  top: 15%;
}
div img {
  width: 300px;
  height: 200px;
  margin-top: 5px;
}

h1 {
  margin: 0;
}

.region_list li {
  list-style: none;
  float: left;
  line-height: 30px;
  text-align: center;
  background-color: #0c3490;
  width: 20%;
}

.t_cont {
  width: 70vw;
  padding-left: 1%;
}

.header {
  position: relative;
  top: 15px;
  font-size: 36px;
  left: 6%;
  background-color: #0c3490;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 10px 30px 30px 10px;
}

.table {
  position: relative;
  top: 10px;
  left: 5%;
  border-bottom: 1px solid gray;
}

.name {
  background-color: #0c3490;
  display: inline-block;
  color: white;
  border-radius: 30px;
  padding: 10px;
}

#rec_res {
  margin-top: 15px;
  margin-bottom: 15px;
}

#logo_middle span {
  position: relative;
  right: 36%;
  display: inline-block;
}
#logo_middle {
  font-size: 21px;
  font-family: "Lobster", cursive;
  width: 30%;
}

.mid_region li {
  list-style: none;
  float: left;
  line-height: 30px;
  text-align: center;
  background-color: #809ee3;
  width: 10%;
}
