body{
    font-family: '나눔고딕';
    margin: 0% 10%;
    background-color: whitesmoke;
}
body div{
    background-color: white;
    padding: 1px 30px;
}
hr{
    border: 0;
    text-align: center;
    height: 1px;
    background-color: #c1c1c1;
}
nav div{
    display: inline-block;
    width: 330px;
    border: 1px solid #c1c1c1;
}
nav ul{
    line-height: 1.8;
    margin: 0;
    padding-inline-start: 1.5em;
}
nav li a:hover{
    text-decoration-line: underline;
}
nav a{
    text-decoration : none;
    color: cornflowerblue;
}
nav img{
    display: inline-block;
    float: right;
}
article ul{
    list-style: none;
}
h1{
    font-size: 33px;
}
h2{
    font-size: 26px;
    font-weight: 500;
}
h3{
    font-size: 21px;
    font-weight: 500;
}
figure{
    max-width: 70%;
    margin: 0 auto;
}
.adventure img{
    width: 32%;
    height: auto;
}
.mall img{
    width: 32%;
    height: auto;
}
.aqua img{
    width: 32%;
    height: auto;
}
.tower img{
    width: 30%;
    height: auto;
    margin: auto;
    display: block;
}
.park img{
    width: 32%;
    height: auto;
}
.korea img{
    width: 32%;
    height: auto;
}
.china img{
    width: 35%;
    height: auto;
}
.japan img{
    width: 35%;
    height: auto;
}
figure.western{
    max-width: 90%;
    margin: 0 auto;
}
.western img{
    width: 27%;
    height: auto;
}
.alcohol img{
    width: 29%;
    height: auto;
}